{% extends "base_generic.html" %}

{% block content %}
<h1>Библиотека</h1>

  <p>Тестовый сайт а-ля <em>Библиотека</em> в качестве туториала на Django фреймворке</p>

<h2>Динамический контент</h2>

  <p>The library has the following record counts:</p>
  <ul>
    <li><strong>Книги:</strong> {{ num_books }}</li>
    <li><strong>Копии:</strong> {{ num_instances }}</li>
    <li><strong>Доступные копии:</strong> {{ num_instances_available }}</li>
    <li><strong>Авторы:</strong> {{ num_authors }}</li>
    <li><strong>Жанры:</strong> {{ num_genres }}</li>
    <li><strong>Жанры с буквой С:</strong> {{ num_num_genres_available }}</li>
  </ul>
<p>You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>
{% endblock %}